COMPOSE_PROJECT_NAME=night_mode

POSTGRES_DB=night_mode
POSTGRES_USER=night_mode
POSTGRES_PASSWORD=change-me
POSTGRES_HOST_BIND=127.0.0.1
POSTGRES_HOST_PORT=5434

BACKEND_HOST_BIND=127.0.0.1
BACKEND_HOST_PORT=8000

GATEWAY_HOST_BIND=127.0.0.1
GATEWAY_HOST_PORT=8082

NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=
